# Capstone Project Part-1

In [142]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen

### Using BeautifulSoup library to scrap data from Wikipedia

In [242]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')

In [243]:
tables = soup.find_all('table')

### Create array to hold the data we extract in three lists

In [244]:
postal_codes = []
boroughs = []
neighbourhoods = []

for table in tables:
    rows = table.find_all('tr')
    
    for row in rows[1:]:
        cells = row.find_all('td')
        if len(cells) > 1:
            postal_code = cells[0]
            postal_codes.append(postal_code.text.strip())
            
            borough = cells[1]
            boroughs.append(borough.text.strip())
            
            neighbourhood = cells[2]
            neighbourhoods.append(neighbourhood.text.strip())

### Creating dataframe using the lists

In [245]:
df1 = pd.DataFrame(postal_codes, columns = ['PostalCode'])

df1['Borough']=boroughs
df1['Neighbourhood']=neighbourhoods
df1.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

### Removing the 'Not assigned' values from the table

In [246]:
df1=df1[df1.Borough != 'Not assigned']

In [247]:
df1.head()

  PostalCode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [248]:
'Not assigned' in df1

False

### Assigning value of correspondig 'Borough' to ' Neighbourhood' with 'Not assigned' value

In [249]:
for i in range(0,len(df1)):
    if df1.iloc[i,2]=='Not assigned':
        df1.iloc[i,2]=df1.iloc[i,1]

In [250]:
'Not assigned' in df1

False

### Resetting the Index numbers

In [251]:
df1.reset_index(inplace=True)
df1.tail(10)

,index,PostalCode,Borough,Neighbourhood
97,157,M5X,Downtown Toronto,"First Canadian Place, Underground city"
98,160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,165,M4Y,Downtown Toronto,Church and Wellesley
100,168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
103,180,NL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n\nSK\n...,NL,NS
104,181,NL,NS,PE
105,182,A,B,C
106,183,A,B,C

In [252]:
df1=df1[['PostalCode','Borough','Neighbourhood']]
df1.tail()

,PostalCode,Borough,Neighbourhood
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
103,NL\n\nNS\n\nPE\n\nNB\n\nQC\n\nON\n\nMB\n\nSK\n...,NL,NS
104,NL,NS,PE
105,A,B,C
106,A,B,C

### Removing rows other table from Dataframe *(df1)*

In [253]:
df1=df1[0:-4]
df1

,PostalCode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [254]:
df1.shape

(103, 3)